body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*
.bg {
background-image: url("https://img1.coastalliving.timeinc.net/sites/default/files/styles/square_1_1/public/1553193950/ocean-horizon-924454206.jpg");
height: 100%;
background-position: center;
background-repeat: repeat-y;
background-size: cover;
} */
.ui.pointing.secondary.menu{
  margin: 0
}

.logo-center {
  width: 95px;
  margin: 0 auto;
  color: #21ba45
}

.right.menu {
  margin-left: 0
}

.four.column.row.profile-background{
  background-image: url("https://img1.coastalliving.timeinc.net/sites/default/files/styles/square_1_1/public/1553193950/ocean-horizon-924454206.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

.ui.centered.card.color {
  height: 100%;
}

.ui.center.aligned.grid.color-container{
  height: 100%;
  padding-top: 20px;
}
